{{ 'a-simple-featured-collection.css' | asset_url | stylesheet_tag }}

<section class="featured-collection">
  <h1>{{ section.settings.heading }}</h1>
  <p>{{ section.settings.description }}</p>

  {% if section.blocks.size > 0 %}
    <div class="section-blocks">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'feature' %}
            <div class="feature-item" {{ block.shopify_attributes }}>
              <span class="feature-item__title" style="color: {{block.settings.title_color}};">
                {{- block.settings.feature_title -}}
              </span>
              <span class="feature-item__desc">{{ block.settings.feature_desc }}</span>
            </div>

          {% when 'button' %}
            <div class="cta-button" {{ block.shopify_attributes }}>
              <a href="{{ block.settings.button_link }}">
                {{ block.settings.button_text }}
              </a>
            </div>
        {% endcase %}
      {% endfor %}
    </div>
  {% endif %}

  {% if section.settings.collection != blank %}
    <div class="product-grid" style="grid-template-columns: repeat({{section.settings.columns_in_row}}, 1fr);">
      {% comment %} if limit by range limit: section.settings.product_limit {% endcomment %}

      {% if section.settings.check %}
        {% assign final_limit = section.settings.product_limit %}
      {% else %}
        {% assign final_limit = section.settings.select_limit | plus: 0 %}
      {% endif %}

      {% comment %} {% assign final_limit = section.settings.product_limit | default: section.settings.select_limit |  plus: 0%} {% endcomment %}
      {% for product in section.settings.collection.products limit: final_limit %}
        <div class="product-item">
          <a href="{{product.url}}">
            <div class="product_image">
              {% if product.compare_at_price > product.price %}
                <span class="product-badge"
                  >Sale-
                  {{-
                    product.compare_at_price
                    | minus: product.price
                    | times: 100
                    | divided_by: product.compare_at_price
                  -}}
                  %</span
                >
              {% endif %}
              {{ product.featured_image | image_url: width: 500 | image_tag }}
            </div>

            <h3 class="product-title">{{ product.title | truncatewords: 4 }}</h3>

            <p class="product-price">
              <span class="price-amount">
                {{ product.price | money_without_currency }}
              </span>
              {% if product.compare_at_price > product.price %}
                <span class="compare-price">
                  {{ product.compare_at_price | money }}
                </span>
              {% endif %}
              <span class="price-currency">
                {{ cart.currency.iso_code }}
              </span>
            </p>
          </a>
        </div>
      {% endfor %}
    </div>

    <div class="view_all">
      <span class="btn_viewall">
        <a href="{{section.settings.collection.url}}">View all</a>
      </span>
    </div>
  {% endif %}
</section>

{% schema %}
{
  "name": "Simple feat collection",
  "settings": [
    {
      "type": "collection",
      "label": "Simple featured collection",
      "id": "collection"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Featured Collection"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "This is a featured collection"
    },
    {
      "type": "checkbox",
      "label": "Check to use adjust limit product bby range",
      "id": "check",
      "default": false
    },
    {
      "type": "range",
      "id": "product_limit",
      "label": "Product count",
      "min": 2,
      "max": 16,
      "step": 1,
      "default": 4
    },
    {
      "type": "select",
      "label": "Select limit",
      "id": "select_limit",
      "default": "4",
      "options": [
        {
          "value": "4",
          "label": "4 products"
        },
        {
          "value": "8",
          "label": "8 products"
        }
      ]
    },
    {
      "type": "header",
      "content": "Collection columns"
    },
    {
      "type": "range",
      "label": "Columns",
      "id": "columns_in_row",
      "default": 4,
      "min": 2,
      "max": 6
    }
  ],
  "blocks": [
    {
      "type": "feature",
      "name": "Feature item",
      "settings": [
        {
          "type": "text",
          "id": "feature_title",
          "label": "Feature title",
          "default": "Free Shipping"
        },
        {
          "type": "color",
          "label": "Title color",
          "id": "title_color"
        },
        {
          "type": "text",
          "id": "feature_desc",
          "label": "Feature description",
          "default": "On all orders"
        }
      ]
    },
    {
      "type": "button",
      "name": "CTA button",
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text",
          "default": "View all products"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Simple featured collection"
    }
  ]
}
{% endschema %}
